
.quiz-question-box {
  position: absolute;
  top: 150px;
  left: 125px;
  width: 610px;
  height: 75px;
  border-radius: 10px;
  padding-top: 25px;
  font-size: 1.3em;
  background-color: #e1c699
}

.quiz-answer-box {
  border-radius: 10px;
  width: 250px;
  height: 100px;
  overflow-y: scroll;
  padding: 12px 5px;
  font-size: 1.2em;
  background-color: #e1c699
}

.quiz-answer-box:hover {
  background-color: #c19a6b;
  border: 1px solid beige;
  box-shadow: 2px 2px black;
}

.quiz-answer-box:active {
  box-shadow: 4px 4px black
}

.correct-answer {
  background-color: ForestGreen;
}

.correct-answer:hover {
  background-color: ForestGreen;
}

.wrong-answer {
  background-color: FireBrick;
}

.wrong-answer:hover{
  background-color: FireBrick;
}

#answer-0 {
  position: absolute;
  top: 300px;
  left: 125px;
}

#answer-1 {
  position: absolute;
  top: 300px;
  left: 475px;
}

#answer-2 {
  position: absolute;
  top: 450px;
  left: 125px;
}

#answer-3 {
  position: absolute;
  top: 450px;
  left: 475px;
}
